In [1]:
import parsel
import json
import requests
import pandas as pd

In [2]:
# getting all the item names at https://scrapeme.live/shop/

In [3]:
data = requests.get('https://scrapeme.live/shop/')

In [4]:
data.headers['content-type']

'text/html; charset=UTF-8'

In [6]:
# setting up the selector
select  = parsel.Selector(text=data.text)

In [7]:
ul = select.xpath("//ul[@class ='products columns-4']")
# /html/body/div/div[2]/div/div[2]/main/ul

In [22]:
name = i.xpath('./li//h2/text()').extract()
value = i.xpath('./li//span[contains(@class, "woocommerce-Price-amount amount")]/text()').extract()
print(name)
print(value)

['Bulbasaur', 'Ivysaur', 'Venusaur', 'Charmander', 'Charmeleon', 'Charizard', 'Squirtle', 'Wartortle', 'Blastoise', 'Caterpie', 'Metapod', 'Butterfree', 'Weedle', 'Kakuna', 'Beedrill', 'Pidgey']
['63.00', '87.00', '105.00', '48.00', '165.00', '156.00', '130.00', '123.00', '76.00', '73.00', '148.00', '162.00', '25.00', '148.00', '168.00', '159.00']

In [23]:
data = pd.DataFrame(columns=['name','price'])

In [24]:
data['name'] = name
data['price'] = value

In [25]:
data

          name   price
0    Bulbasaur   63.00
1      Ivysaur   87.00
2     Venusaur  105.00
3   Charmander   48.00
4   Charmeleon  165.00
5    Charizard  156.00
6     Squirtle  130.00
7    Wartortle  123.00
8    Blastoise   76.00
9     Caterpie   73.00
10     Metapod  148.00
11  Butterfree  162.00
12      Weedle   25.00
13      Kakuna  148.00
14    Beedrill  168.00
15      Pidgey  159.00

In [27]:
# collecting all pages and it's url in the shop 
page = select.xpath('//li[contains(@class,"page-numbers")]')

[]